:host *{
    transition: all 200ms ease-in-out;
}

.hide-profile-text{
    opacity: 0;
    height: 0px !important;
}
.selected-menu-item{
    border-left: 10px solid !important;
    border-left-color: brown !important;
    background:  rgb(255 228 230) !important;
}
.menuItem{
    border-left: 5px solid;
    border-left-color: black;
}