:root {
    --myPrimary: orangered;
    --box-shadow: 1px 1px 1px 1px var(var(--myPrimary));
}
@font-face{
    font-family: 'poppins';
    src: local('poppins'),
            url('./assets//fonts/Poppins-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}
html,body{height: 100%;}
*{
    font-family: 'poppins', sans-serif;
}



/* TailwindCSS */
@tailwind base;
@tailwind components;
@tailwind utilities;

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


.mat-mdc-snack-bar-container{
    &.error-snackbar{
        --mdc-snackbar-container-color: rgb(165,19,19) !important;
        --mdc-snackbar-supporting-text-color: #fff !important;
    }
}

.mat-mdc-snack-bar-container{
    &.success-snackbar{
        --mdc-snackbar-container-color: rgb(0,107,0) !important;
        --mdc-snackbar-supporting-text-color: #fff !important;
    }
}