.myHeader{
    box-shadow: var(--box-shadow);
}

.menu-item{
    color: var(--myPrimary);
    
}
.menu-item:hover{
    background-color: rgba(255, 69, 0,0.8) !important;
    color: white !important;
}

mat-drawer, mat-drawer-content {
    transition: all 200ms ease-in-out;
}