.myHeader{
    box-shadow: var(--box-shadow);
}

.menu-item{
    color: var(--myPrimary);
    
}
.menu-item:hover{
    background-color: #fce7f3 !important;
    color: blue !important;
}

mat-drawer, mat-drawer-content {
    transition: all 200ms ease-in-out;
}