<!-- register.component.html -->
<div class="min-h-screen flex items-center justify-end bg-cover pr-5" style="background-image: url('../../../assets/img/BG.png')">
    <div class="bg-slate-50 p-8 rounded shadow-lg border-2 w-full sm:w-96 -mt-2">
        <div class="flex justify-center text-center mb-4 -mt-2">
            <img src="../../../assets/img/LOGO.png" class="h-16 w-18 ">
        </div>
    <!-- Your lregister form goes here -->
      <form [formGroup]="registerForm" > 
        <div class="mb-3">
          <label for="username" class="block text-sm font-medium text-gray-600">Username:</label>
          <input matInput type="text" formControlName="name" class="mt-1 p-2 w-full border rounded">
          <mat-error *ngIf="registerForm.controls.name.touched && registerForm.controls.name.invalid" class="font-thin text-red-600 text-sm">
            <span *ngIf="registerForm.controls.name.errors?.required">Username is Required.</span>
            <span *ngIf="registerForm.controls.name.errors?.pattern">Invalid Username</span>
          </mat-error>
        </div>
      
        <div class="mb-3">
          <label for="password" class="block text-sm font-medium text-gray-600">Password:</label>
          <input matInput type="password" formControlName="password" class="mt-1 p-2 w-full border rounded">
          <mat-error *ngIf="registerForm.controls.password.touched && registerForm.controls.password.invalid" class="font-thin text-red-600 text-sm">
            <span *ngIf="registerForm.controls.password.errors?.required">Password is Required.</span>
          </mat-error>
        </div>

        <div class="mb-3">
          <label for="Email" class="block text-sm font-medium text-gray-600">Email: </label>
          <input matInput type="email" formControlName="email" class="mt-1 p-2 w-full border rounded">
          <mat-error *ngIf="registerForm.controls.email.touched && registerForm.controls.email.invalid" class="font-thin text-red-600 text-sm">
            <span *ngIf="registerForm.controls.email.errors?.required">Email is Required.</span>
            <span *ngIf="registerForm.controls.email.errors?.pattern">Invalid email</span>
          </mat-error>
        </div>

        <div class="mb-3">
          <label for="contactNumber" class="block text-sm font-medium text-gray-600">Contact Number: </label>
          <input matInput type="text" formControlName="contactNumber" class="mt-1 p-2 w-full border rounded">
          <mat-error *ngIf="registerForm.controls.contactNumber.touched && registerForm.controls.contactNumber.invalid" class="font-thin text-red-600 text-sm">
            <span *ngIf="registerForm.controls.contactNumber.errors?.required">Contact Number  is Required.</span>
            <span *ngIf="registerForm.controls.contactNumber.errors?.pattern">Invalid Contact Number</span>
          </mat-error>
        </div>

        <div class="mb-3">
          <label for="department" class="block text-sm font-medium text-gray-600">Department</label>
          <mat-select formControlName="department" class="mt-1 p-2 w-full border rounded bg-white"> 
                <mat-option  [value]="1">Angular</mat-option>
                <mat-option [value]="2">Backend</mat-option>
                <mat-option [value]="3">DBA</mat-option>
          </mat-select>
          <mat-error *ngIf="registerForm.controls.department.touched && registerForm.controls.department.invalid" class="font-thin text-red-600 text-sm">
            <span *ngIf="registerForm.controls.department.errors?.required">Department  is Required.</span>
            
          </mat-error>
        </div>
        <div class="flex justify-center">
          <button type="submit" class="bg-orange-500 text-white p-2 rounded" (click)="userRegister()" [disabled]="!(registerForm.valid && registerForm.dirty)">Register</button>
        </div>
        
      </form>
      
    </div>
  </div>
  

