<!-- <div class="bg-gray-100 min-h-screen flex items-center justify-center"> -->

    <div class="bg-white p-8 rounded-lg shadow-md max-w-md w-full">
  
      <!-- <div class="flex items-center justify-center">
        <img  alt="Profile Image" class="w-16 h-16 rounded-full" [src]=" '.urlLink' ">
      </div> -->
  
      <div class="mt-4">
        <h1 class="text-2xl font-bold">{{user.name}}</h1>
        <p class="text-gray-600">{{user.department+ " Developer"}} </p>
      </div>
  
      <div class="mt-6">
        <h2 class="text-lg font-semibold">Contact Information</h2>
        <p class="text-gray-600">Email: {{user.email}}</p>
        <p class="text-gray-600">Phone: {{user.contactNumber}}</p>
      </div>
  
      <!-- File Upload -->
      
      <div class="mt-6">
        <form [formGroup]="imgForm"  enctype="multipart/form-data">
          <label>Upload: </label>
          <input  type="hidden" formControlName="photo"  [ngClass]="{'is-invalid': submitted && imgForm.controls.photo.invalid}">
          <app-file-uploader (onFileSelect)="onFileSelect($event)"></app-file-uploader>
          @if(submitted && imgForm.controls.photo.invalid){
            <mat-error>
              @if(imgForm.controls.photo.errors.required){
                <span>Please upload an Image</span>
              }
            </mat-error>
          }
          @if(uploadError){
            <div class="text-sm text-red-600">{{uploadError}}</div>
          }
        </form>
         
      </div>
  
    </div>
    <mat-dialog-actions align="center">
        <button mat-flat-button mat-dialog-close>Close</button>
    </mat-dialog-actions>
  
<!-- </div> -->
